{% extends 'base.html' %}
{% from "includes/form_input.html" import render_input_field with context %}

{% block content %}
<div class="col-md-6 container">
    {% if status == "success" %}
    <div class="alert alert-success text-center">
        Personal Details successfully registered.

    </div>
    {% elif status == "error" %}
    <div class="alert alert-danger text-center">
        Something went wrong! Personal Details registration failed.
    </div>
    {% endif %}
    <form method="POST" class="my-5" novalidate>
        {{render_input_field(field=form.first_name, label="First Name *", placeholder="Enter your First Name...")}}

        {{render_input_field(field=form.last_name, label="Last Name *", placeholder="Enter your Last Name...")}}

        {{render_input_field(field=form.date_of_birth, label="Date of Birth *", placeholder="Enter your Date of
        Birth...")}}

        {{render_input_field(field=form.gender, label="Gender *", placeholder="Select the Gender...")}}

        {{render_input_field(field=form.mobile_no, label="Mobile Number *", placeholder="Enter your Mobile Number...")}}

        {{render_input_field(field=form.email, label="Email Address *", placeholder="Enter your Email Address...")}}

        {{render_input_field(field=form.bio, label="Bio *", placeholder="Enter your Bio...")}}

        {{render_input_field(field=form.password, label="Password *", placeholder="Enter your Password...")}}

        {{render_input_field(field=form.confirm_password, label="Confirm Password *", placeholder="Confirm your Password...")}}

        <div class="field">
            {{ form.privacy(class="switch") }}
            {{ form.privacy.label }}


            <div class="mt-3">
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-person-fill-add"></i>
                    <span class="ml-2">Submit</span>
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}