{% extends 'base.html'%}

{% block content %}
<div class="col-md-6 container mb-5">
<a href="{{url_for('view_details')}}">
    <button class="btn btn-sm btn-dark"> <i class="bi bi-chevron-left"></i> Back</button>
</a>
    <table class="table table-striped table-bordered  my-4">
        <tr>
            <th>First Name</th>
            <td>{{details.first_name}}</td>
        </tr>
        <tr>
            <th>Last Name</th>
            <td>{{details.last_name}}</td>
        </tr>
         <tr>
            <th>Date of Birth</th>
            <td>{{details.date_of_birth}}</td>
        </tr>
         <tr>
            <th>Gender</th>
            <td>{{details.gender}}</td>
        </tr>
        <tr>
            <th>Mobile Number</th>
            <td>{{details.mobile_no}}</td>
        </tr>

        <tr>
            <th>Email Address</th>
            <td>{{details.email}}</td>
        </tr>

        <tr>
            <th>Bio</th>
            <td>{{details.bio}}</td>
        </tr>

    </table>
</div>
{% endblock %}